####################################################################################################
## If you want to use web installer **DO NOT** create `.env` file manually. 
## If `.env` file exists in the root of your app, web installer won't run.
##
## Every time you are making changes in .env file, in order changes to take an effect you need to run:
## php artisan freescout:clear-cache
#####################################################################################################

# Application URL
APP_URL=https://example.com

# If you are using HTTPS, feel free to uncomment this line to improve security
#SESSION_SECURE_COOKIE=true

# Enter your proxy address here if freescout.net is not available from your server
# (access to freescout.net is required to obtain official modules)
#APP_PROXY=

# Custom headers to add to all outgoing emails.
#APP_CUSTOM_MAIL_HEADERS="IsTransactional:True;X-Custom-Header:value"

# Uncomment if you have many folders and you are experiencing performance issues
#APP_UPDATE_FOLDER_COUNTERS_IN_BACKGROUND=true

# Timezones: https://github.com/freescout-helpdesk/freescout/wiki/PHP-Timezones
# Comment it to use default timezone from php.ini
#APP_TIMEZONE=Europe/London

# Comma separated list of trusted proxies for proper IP detection in FreeScout.
# To trust all proxies that connect to your server use single asterisk: *
# To trust ALL proxies, including those that are in a chain of forwarding use double asterisk: **
#APP_TRUSTED_PROXIES=192.168.1.1,192.168.1.2,192.168.1.3

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
# Maximum password length is 50 characters
DB_PASSWORD=

# Run the following console command to generate the key: php artisan key:generate
# Otherwise application will show the following error: "Whoops, looks like something went wrong"
APP_KEY=

# Uncomment to see errors in your browser, don't forget to comment it back when debugging finished
#APP_DEBUG=true
