/node_modules
/public/hot
/public/storage
/storage/*.key
# We are committing /vendor directory to make installation process super easy, even on a shared hosting:
# - https://www.codeenigma.com/build/blog/do-you-really-need-composer-production
# - https://getcomposer.org/doc/faqs/should-i-commit-the-dependencies-in-my-vendor-directory.md
/vendor/**/.git
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
Thumbs.db
/.htaccess
public/css/builds/
public/js/builds/