/node_modules
/public/hot
/public/storage
/storage/*.key
# Althoug committing vendor directory would make installation process much easier
# we still need to ignore /vandor as there are require-dev dependencies
# https://www.codeenigma.com/build/blog/do-you-really-need-composer-production
# https://getcomposer.org/doc/faqs/should-i-commit-the-dependencies-in-my-vendor-directory.md
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
Thumbs.db