# On some hostings it is impossible to change web root directory
# so we rewrite all web requests into /public folder
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule (.*) /public/$1 [L]
</IfModule>