#add-tag-wrap {
    padding: 0;
    /*display: block;*/
    left: -70px;
}
#add-tag-wrap .input-group {
    padding: 0;
    margin: 6px 7px;
    width: 200px;
}
#add-tag-wrap input {
    text-transform: lowercase;
}
#add-tag-wrap .btn {
    padding: 0 10px;
}
#add-tag-wrap .glyphicon {
    color: #0078D7;
}
#conv_tags {
    float: left;
    overflow: hidden;
}
.tag {
    background: #9eaab5;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    padding: 2px 4px 1px 4px;
    cursor: pointer;
    line-height: 14px;
    margin: 0 4px 0 0;
}
.tag-name,
.tag-name:hover,
.tag-name:focus {
    text-decoration: none;
    color: inherit;
}
#conv_tags .tag {
    margin-top: 8px;
    padding: 5px 5px 5px 10px;
    font-size: 15px;
    border-radius: 3px;
}
#conv_tags .tag:hover {
    background-color: #909eab;
}
#conv_tags .tag-remove {
    color: #e4e8e7;
    display: inline-block;
    font-size: 13px;
    margin-left: 2px;
    padding-right: 4px;
    text-decoration: none;
}
.table-conversations .tag {
    margin-right: 3px;
}
.conv-new-tag {
    position: absolute;
    right: 15px;
    top: 1px;
    cursor: pointer;
    font-size: 15px;
    padding: 7px;
}
.conv-new-tag-dd {
    left: auto!important;
    margin-right: 15px;
}
#form-create #conv_tags {
    margin-left: -11px;
    position: relative;
    top: -4px;
}
.tags-list {
    margin: 15px;
}
.tags-list .btn {
    margin: 8px;
    border: 0;
    border-radius: 3px;
}
/*.tags-list .btn:hover {
    opacity: 0.8;
}*/
.tags-list .badge {
    border-radius: 10px;
    margin-left: 4px;
    color: #888888;
}
.tag-c-0 {
    background-color: #97a4b0 !important;
}
.tag-c-0:hover {
    background-color: #8897a6 !important;
}
.tag-c-1 {
    background-color: #52ad67 !important;
}
.tag-c-1:hover {
    background-color: #24963f !important;
}
.tag-c-2 {
    background-color: #349DE9 !important;
}
.tag-c-2:hover {
    background-color: #0C5DD2 !important;
}
.tag-c-3 {
    background-color: #F68F33 !important;
}
.tag-c-3:hover {
    background-color: #e38330 !important;
}
.tag-c-4 {
    background-color: #8c75bd !important;
}
.tag-c-4:hover {
    background-color: #6d53a3 !important;
}
.tag-c-5 {
    background-color: #F0554F !important;
}
.tag-c-5:hover {
    background-color: #E52F28 !important;
}
.tag-c-6 {
    background-color: #9e6937 !important;
}
.tag-c-6:hover {
    background-color: #844204 !important;
}
.tag-colors .btn {
    margin-right: 5px;
}
.tag-colors .btn:active,
.tag-colors .btn.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .8);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .8);
}